@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, rgba(46, 43, 238, 0.61), rgb(118, 32, 189));
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 80px;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.score-area {
  display: flex;
  justify-content: space-between;
}

.scores {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.recent,
.add-score-title {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #f2f2f2;
}

.recent button {
  border: none;
  padding: 10px 15px;
  background-color: #1e0336af;
  border-radius: 3px;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  color: #f2f2f2;
}

.recent button i {
  margin-right: 8px;
}

.table-area table {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-collapse: collapse;
  text-align: center;
  margin-top: 25px;
  border-left: 2px solid #160863bb;
  border-right: 2px solid #160863bb;
  overflow: hidden;
}

.table-area th,
.table-area td {
  padding: 8px 0;
  color: #fff;
}

.table-area tr:nth-child(odd) {
  background-color: #160863bb;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

#form input[type=text],
input[type=number] {
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  background-color: rgba(21, 6, 65, 0.555);
  color: #929292;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#form button {
  font-family: 'Mulish', sans-serif;
  width: fit-content;
  padding: 10px 15px;
  justify-self: flex-end;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: #12032ca2;
  color: #f1eeee;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  body {
    padding-bottom: 80px;
  }

  .title h1 {
    font-size: 60px;
  }

  .score-area {
    flex-wrap: wrap;
  }

  .scores {
    width: 100%;
    margin-bottom: 50px;
  }

  .add-score {
    width: 100%;
  }

  #form button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 500;
  }
}
